# Data Acquisition

In [3]:
#Exp no. : 2

In [4]:
#Aim : To perform operation of Data Acquisition using pandas

In [5]:
#Name : Riya M. Bhattad
#Roll no. : 14 
#Section : A 
#Subject : PE-I
#Date : 13/07/24

In [7]:
import pandas as pd

In [8]:
import os

In [9]:
os.getcwd() C:\\Users\\DELL

'C:\\Users\\Prathmesh07\\Desktop\\pythonpych'

In [10]:
os.chdir('C:\\Users\\DELL')

In [11]:
data=pd.read_csv("diabetes.csv")

In [12]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [13]:
data.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0